.folder-list {
    list-style: none;
    margin-left: -35px;
    margin-right: 5px;
    border-right: 1px dashed black;
    padding-right: 10px;
}

.folder-list li {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    /* border: 1px solid blue; */
    border-radius: 15px;
    background: peachpuff;
    /* color: aqua; */
    margin-bottom: 10px;
}

.folder-list a {
    color: darkolivegreen;
    text-decoration: none;
}

.folder-list li:hover {
    background: coral;
}

/* .current {
    border: 2px solid black;
} */