.folder-notes-list {
    list-style: none;
}

.folder-notes-list li {
    background: peachpuff;
    text-align: center;
    margin-right: 30px;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 10px;
}

.folder-notes-list a {
    display: block;
    color: #720056;
    text-decoration: none;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.folder-notes-list li:hover {
    background: #36EC41;
}