header {
    text-align: center;
    border: 2px solid black;
}

.app-body {
    display: flex;
}

.sidebar {
    width: 25%;
    border: 2px solid green;
}

.main {
    width: 75%;
    border: 2px solid red;
}