* {
    box-sizing: border-box;
}

body {
    background: papayawhip;
}

header {
    text-align: center;
    /* border: 2px dashed black; */
    font-family: Georgia, 'Times New Roman', Times, serif
}

header a {
    text-decoration: none;
    color: darkslateblue;
    letter-spacing: 5px;
}

.app-body {
    display: flex;
}

.sidebar {
    width: 25%;
    /* border: 2px solid green; */
}

.main {
    width: 75%;
    /* border: 2px solid red; */
}

button:hover {
    cursor: pointer
}