.note-list {
    list-style: none;
}

.note-list li {
    border-radius: 5px;
    text-align: center;
    margin-right: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background: peachpuff;
}

.note-list a {
    color: darkolivegreen;
    text-decoration: none;
}

.note-list li:hover {
    background: cyan;
}